# Astro
dist/
.astro/

# Node
node_modules/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editores
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cloudflare
.wrangler/
.dev.vars
